<ion-header class="ion-no-border" [translucent]="true">
  <ion-row>
    <ion-col size="12">
      <ion-card class="header-card">
       
          <ion-list class="main-list">
            <ion-item>
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-label>Admin's Name</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="notifications"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-icon name="settings"></ion-icon>
            </ion-item>
          </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
 
</ion-header>
  
  