<ion-header class="ion-no-border" [translucent]="true">

</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-card class="top-card">
    <ion-label class="heading">Qwik</ion-label>
  </ion-card>
  <ion-card class="main-card"> 
    <ion-card class="designer-card-content">
      <ion-label>Incorrect Code</ion-label>
      <ion-label>The code you entered was not correct, please try again.</ion-label>
      <ion-list lines="none">
        <ion-item>
          <ion-icon class="ion-padding" color="primary" name="star"></ion-icon>
          <ion-input placeHolder="Email Id "></ion-input>
        </ion-item>
        <ion-item>
          <ion-button class="fir-btn" shape="round" fill="outline">Exit</ion-button>
          <ion-button shape="round" >Submit</ion-button>
        </ion-item>
      </ion-list>

    </ion-card>
  </ion-card>
 
</ion-content>
