<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cart Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let val of cartItems" routerLink="/tabs/tab2" [queryParams]="val">
    <ion-item >
      <ion-img [src]="val.image"> </ion-img>
    </ion-item>

    <ion-item>
      Quantity : {{val.unit}}
    </ion-item>

    <ion-item>
      <ion-label>{{val.title}}</ion-label><br>
      <ion-icon size="medium" [color]="isAdded ?'primary':'' " name="close-circle" (click)="removeCart(val)">Remove
        Cart</ion-icon>
    </ion-item>

  </ion-list>
  <ion-list>
    <ion-item *ngIf="!cartItems"> No Item Stored In Cart </ion-item>
  </ion-list>
</ion-content>