<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-card class="main-grid">
    <ion-grid class="ion-padding">
      <ion-row class="ion-padding">
        <ion-col class="flex-row">
          <ion-label class="heading">
          Sub Categories
          </ion-label>
          <ion-button routerLink="/addnewsubcategory" class="addBtn">
            <ion-icon name="add-outline"></ion-icon>
            Add Sub Category
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-grid class="inner-grid">
            <ion-row class="input-row">
              <ion-col size="3">
                <ion-input (ionInput)="searchCategory($event)" placeholder="Enter at least 3 characters to search">
                </ion-input>
              </ion-col>
              <ion-col size="2">

              </ion-col>
              <ion-col size="2">

              </ion-col>
              <ion-col size="5">

              </ion-col>
            </ion-row>
            <ion-row class="tbl-header">
              <ion-col size="3">
                <ion-label>Name</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label>
                  Category
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label>
                  Edit
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label>
                  Enable
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label>
                  Delete
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="repeated-row" *ngFor="let val of dataArray; let i = index">
              <ion-col size="3">
                <ion-label>{{val?.title}}</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label>
                  {{val?.category}}
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-icon (click)="updateProduct(val)" name="create"></ion-icon>
              </ion-col>
              <ion-col size="2">
                <ion-toggle (ionChange)="toggleNotifications()" [checked]="true"></ion-toggle>
              </ion-col>
              <ion-col class="del-col" size="2">
                <ion-card>
                  <ion-icon (click)="deleteProduct(i)" name="trash"></ion-icon>
                </ion-card>
              </ion-col>      
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>
  <app-footer></app-footer>
</ion-content>