ion-title{
    text-decoration: dotted;
    color: rgb(251, 251, 251);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 8px cyan;
}
#price{
    font-size: larger;
    font-size: bolder;
}
ion-spinner{
    margin: 0 auto;
    margin-top: 70%;
}
ion-img{
   max-height: 300px;
}