<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-icon routerLink="/tabs/profile" class="ion-padding" slot="start" name="chevron-back"></ion-icon>
    <ion-title></ion-title>
    <ion-icon class="ion-padding" slot="end" name="search"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-label class="heading">
          My Orders
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-text-center" *ngFor="let val of orderDetails" class="repeated-row">
    <ion-row>
      <ion-col>
        <ion-label>
          {{val?.title}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-label>
          Quantity : {{val?.quantity}}
        </ion-label>
      </ion-col>
      <!-- <ion-col size="2"></ion-col> -->
      <ion-col class="ion-text-right" size="7">
        Total {{(val?.quantity) * (val?.price) | currency}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
