
  <ion-card class="main-card">
    <ion-card class="content-card">
      <ion-card class="cc-1">
        <ion-img class="growLogo" src="../../../assets/GrowLogo.svg"></ion-img>
        <ion-label>Vaishnavi Tech Park, 3rd & 4th Floor <br>

          Sarjapur Main Road, Bellandur <br>
          
          Bengaluru – 560103 <br>
          
          Contact Us</ion-label>
      </ion-card>
      <ion-card class="cc-2">
        <ion-text class="footer-list-heading">
          Products
        </ion-text>
        <ion-list lines="none">
          <ion-item>Stocks</ion-item>
          <ion-item>Futures & Options</ion-item>
          <ion-item>IPO</ion-item>
          <ion-item>Mutual Funds</ion-item>
          <ion-item>NFO</ion-item>
          <ion-item>Credit</ion-item>
          <ion-item>Bill Payments</ion-item>
        </ion-list>
      </ion-card>
      <ion-card class="cc-3">
        <ion-text class="footer-list-heading">
          Grow
        </ion-text>
        <ion-list lines="none">
          <ion-item>About Us</ion-item>
          <ion-item>Pricing</ion-item>
          <ion-item>Blog</ion-item>
          <ion-item>Media & Press</ion-item>
          <ion-item>Careers</ion-item>
          <ion-item>Help and Support  </ion-item>
          <ion-item>Trusat and Safety</ion-item>
        </ion-list>
      </ion-card>
      <ion-card class="cc-4">
        <ion-text class="footer-list-heading">
          Quick Links
        </ion-text>
        <ion-list lines="none">
          <ion-item>AMC Mutual Funds</ion-item>
          <ion-item>Calculators</ion-item>
          <ion-item>Glossary</ion-item>
          <ion-item>Open Demat Account</ion-item>
          <ion-item>Groww Digest</ion-item>
          <ion-item>Sitemap</ion-item>
          <ion-item>Income Tax Calculator</ion-item>
        </ion-list>
      </ion-card>
    </ion-card>
  </ion-card>
