<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card class="first-card">

    <ion-card class="second-card">
      <ion-card class="third-card">
        <div class="first-div">
          <div class="second-div">
            <ion-img class="userIcon userProfile" src="../../assets/userIcon.png"></ion-img><br>
            <ion-text class="userProfileText" id="profileName">{{loginUser}}</ion-text><br>
            <ion-text class="userProfileText" id="profileLink">Link Your e-mail or Social Media</ion-text>
          </div>
        </div>
      </ion-card>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          <ion-text>My Orders</ion-text>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="heart"></ion-icon>
          <ion-text>Shortlisted Vehicles</ion-text>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="time-outline"></ion-icon>
          <ion-text>My Activity</ion-text>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="ellipsis-vertical-outline"></ion-icon>
          <ion-text>My Vehicle</ion-text>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="car-outline"></ion-icon>
          <ion-text>My Garage</ion-text>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="cog-outline"></ion-icon>
          <ion-text>Profile Setting</ion-text>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <button class="logoutBtn" (click)="logOut()">Logout</button>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-card>
  <ion-card class="fourth-card">
    <ion-row class="icons-row">
      <ion-col size="1"> </ion-col>

      <ion-col size="2">
        <ion-icon size="large" name="medal-outline"></ion-icon>
        <ion-text class="row-text">India's # 1 </ion-text>
      </ion-col>

      <ion-col size="1"> </ion-col>

      <ion-col size="2">
        <ion-icon size="large" name="car-sport-outline"></ion-icon>
        <ion-text class="row-text">Car</ion-text>

      </ion-col>

      <ion-col size="1"> </ion-col>

      <ion-col size="2">
        <ion-icon size="large" name="ticket-outline"></ion-icon>
        <ion-text class="row-text">Offers</ion-text>
      </ion-col>

      <ion-col size="1"></ion-col>
      <ion-col size="2">
        <ion-icon size="large" name="file-tray-full-outline"></ion-icon>
        <ion-text class="row-text">Compare</ion-text>
      </ion-col>

    </ion-row>

  </ion-card>
  <app-footer></app-footer>
</ion-content>