<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ridehistory" href="/tabs/ridehistory">
      <ion-icon aria-hidden="true" name="archive-sharp"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="electric" href="/tabs/electric">
      <ion-icon aria-hidden="true" name="logo-ionitron"></ion-icon>
      <ion-label>Electric</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
