<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SignUp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
  <form action="" (ngSubmit)="singUp(signUpForm.value)" [formGroup]="signUpForm"> 
    <ion-list>
      <ion-item>
        <ion-input label="Name" type="text" placeholder="Name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Department" type="text" placeholder="Department" formControlName="department"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Email" type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" type="text" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="Submit" color="success">Submit</ion-button>
    <ion-alert
      [isOpen]="isOpen"
      header="Success"
      subHeader=""
      message="Register Successfully"
      [buttons]="['OK']"
    ></ion-alert> 
   </form>
</ion-grid>
 
</ion-content>