<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-back-button defaultHref="/tabs/home" slot="start" color="dark" text=""></ion-back-button>
    <ion-title>Update Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="updateProductForm" (ngSubmit)="onSubmit(updateProductForm.value)">
    <ion-grid class="main-grid ion-padding">
      <ion-row>
        <ion-col class="ion-text-center" size="12">
          <ion-label>Update Products Form</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list lines="none" class="form-list">
            <ion-item>
              <ion-input [readonly]="true" errorText="*Product Name" formControlName="name" placeholder="Product Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input errorText="*Price" formControlName="price" type="number" placeholder="Price"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input errorText="*Quantity" formControlName="quantity" type="number" placeholder="Quantity"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input errorText="*Description" formControlName="description" type="text" placeholder="Description"></ion-input>
            </ion-item>
            <ion-item id="no-border">
              <input multiple type="file" id="file" style="display: none;" (change)="setImages($event)">
              <ion-icon slot="start" (click)="openFileUpload()" name="link"></ion-icon>
              <ion-row id="img-row">
                <ion-col *ngFor="let val of imageArray;let i = index">
                  <ion-icon (click)="deleteImage(i)" name="close"></ion-icon>
                  <ion-img  [src]="val" ></ion-img>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
