<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="first-card">
    <ion-label>Sign Up</ion-label>
    <ion-label>Unlock Secrets & predict your cycle with the most <br> intuitive cycle tracking app</ion-label>
  </ion-card>
  <ion-card class="second-card">
    <ion-button routerLink="/onboarding1" class="btn">
      <!-- <ion-img src="../../assets/appleLogo.png"></ion-img> -->
      Continue With Apple
     </ion-button>
    <ion-button class="btn">
      <!-- <ion-img src="../../assets/googleLogo.png"></ion-img> -->
      Continue With Google
     </ion-button>
    <ion-button class="btn">
      <!-- <ion-img src="../../assets/facebookLogo.png"></ion-img> -->
      Continue With Facebook
     </ion-button>
  </ion-card>
 
</ion-content>
