<ion-header [translucent]="true">

</ion-header>

<ion-content class="bg-card" [fullscreen]="true">
  <ion-label class="heading">
    Qwik
  </ion-label>
  <ion-card class="designer-card">
    <ion-card class="heading-card">
      <form [formGroup]="forgetForm" (ngSubmit)="onSubmit(forgetForm.value)">
      <ion-label class="forget-heading">Forget Password</ion-label> <br>
      <ion-label class="forget-text">Please Enter the email address aasociated with <br> your account</ion-label>
        <ion-list>
          <ion-item>
            <ion-icon color="primary" name="mail-outline"></ion-icon>
            <ion-input (ionInput)="validateEmail($event)" formControlName="email" placeHolder="Email">
            </ion-input>
          </ion-item>
          <ion-label *ngIf="isValidEmail===false" class="danger-text">*Invalid Email Id </ion-label>
        </ion-list>
        <ion-button [disabled]="!forgetForm.valid" type="submit" shape="rounded" >Submit</ion-button>
      </form>
    </ion-card>
  </ion-card>
</ion-content>