.bg-card{
    --background: rgb(0, 15, 99);  
}
.heading-card{
    margin: 0 auto;
    width: fit-content;
    margin-top: 100px;    
    font-weight: bolder;
    background: transparent;
    padding-top: 90px;
    padding-bottom: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.designer-card{
    background: url(../../assets/imgpsh_fullsize_anim.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 25%

}
.forget-heading{
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    font-size:35px;
}
.forget-text{
    font-size: small;
    font-size: 10px;
    width: 95%;
    letter-spacing: 1px;
    color: rgb(227, 214, 214);
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
ion-input{
    --padding-start:20px;
}
ion-list{
    background: transparent;
}
ion-item{
    border-radius: 25px;
}
ion-button{
    width: 150px;
    --border-radius:35px;
}
ion-card{
    box-shadow: none;
}
.danger-text{
    color: red;
    letter-spacing: 1px;
    
}