<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let reel of arr">
    <ion-item>
      <video [src]="reel.videoUrl" autoplay></video>
    </ion-item>
    <ion-item>
      <ion-icon name="heart" [ngStyle]="{'color': reel.isLiked ? 'red' : '' }" (click)="refreshPage()"
        (click)="reelLike(reel)"></ion-icon>
      <ion-text> {{reel.title}}</ion-text>
      <ion-icon slot="end" name="share-social-outline"></ion-icon>
    </ion-item>
  </ion-list>



</ion-content>