<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-grid class="main-grid">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label class="up-heading">
          Add Deal
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col class="ion-padding" size="6">
        <form (ngSubmit)="onFormSubmit(addNewDealForm.value)" [formGroup]="addNewDealForm">
          <ion-grid class="inner-grid ion-padding">
            <ion-row class="input-row">
              <ion-col class="ion-padding">
                <ion-label>
                  Deal Type
                </ion-label>
                <ion-select (ionChange)="onChangeDealType($event)" errorText="This field is required*" formControlName="dealType">
                  <ion-select-option value="category">Category</ion-select-option>
                  <ion-select-option value="product">Product</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="input-row" *ngIf="toggleDealType=='category'">
              <ion-col class="ion-padding">
                <ion-label>
                  Category
                </ion-label>
                <ion-select formControlName="category">
                  <ion-select-option *ngFor="let val of storedCatArray" [value]="val?.title">{{val?.title}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="input-row" *ngIf="toggleDealType=='product'">
              <ion-col class="ion-padding">
                <ion-label>
                  Product
                </ion-label>
                <ion-select formControlName="product">
                  <ion-select-option *ngFor="let val of productDataArray" [value]="val?.name">{{val?.name}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="input-row">
              <ion-col class="ion-padding">
                <ion-label>
                  Title
                </ion-label>
                <ion-input errorText="This field is required*" formControlName="title"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="input-row">
              <ion-col class="ion-padding">
                <ion-label>
                  Deal Offer
                </ion-label>
                <ion-input errorText="This field is required*" formControlName="dealOffer"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="input-row">
              <ion-col class="ion-padding">
                <ion-label>
                  Top Deal
                </ion-label>
                <ion-input errorText="This field is required*"
                formControlName="topdeal"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="input-row">
              <ion-col class="ion-padding">
                <ion-label>
                  Description
                </ion-label>
                <ion-textarea  errorText="This field is required*" formControlName="description"></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding">
              <ion-col>
                <input (change)="setImageInForm($event)" id="imageUpload" type="file" style="display: none;" >
                <ion-icon (click)="openFileUpload()" name="link"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-img [src]="imageUrl"></ion-img>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding">
              <ion-col size="4">
                <ion-button  type="submit" class="submit-btn">
                  Submit
                </ion-button>
                <ion-button (click)="onCancelButton()" class="danger-btn">
                  Cancel
                </ion-button>
              </ion-col>
            </ion-row>
           
          </ion-grid>
        </form>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
