// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --ion-orange-btn: #ef5365;
    --ion-darkblue-btn:#001861;
    --ion-skyblue-btn:#1acdff;
}
 
