ion-icon[name="search"]{
    font-size: 20px;
}
.profile-heading{
    color: black;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 900;

}
ion-icon[name="person-circle"]{
    font-size: 50px;
}
.name{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}
.email{
    font-size: smaller;
    font-weight: 500;
    color: darkgray;
}
ion-icon[name="chevron-forward"]{
    font-size: 20px;
}
.heading{
    font-size: 15px;
    font-weight: 500;
}
.sub-heading{
    font-weight: 100;
    font-size: 13px;
    color: darkgray;
}