.main-card{
    min-height: 600px;
    margin: 0;
    padding: 0;
    background: aliceblue;
}
.heading{
    color: black;    
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
}
.inner-grid{
    background: white;
}
ion-textarea,
ion-input {
    border: 1px solid lightgray;
    --padding-start: 10px;
    border-radius: 5px;
    --highlight-height:0px;
}
.input-row ion-col ion-label {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(103, 101, 101);
}
.input-row ion-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ion-row{
    margin: 10px;
}
.submit-btn {
    --background: black;
    --background-activated: black;
    color: white;
    --padding-start: 10px;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
}

.danger-btn {
    --background: red;
    --background-activated: red;
    --background-focused: red;
}
ion-img{
    width: 200px;
    height: 200px;
}