<ion-header class="no-border" [translucent]="true">
 

</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-back-button class="ion-padding" defaultHref="/" text="" slot="start" color="light"></ion-back-button>
    <ion-title>Password Verification</ion-title>
    <ion-icon class="ion-padding" size="large" color="light" slot="end" name="notifications-outline"></ion-icon>
  </ion-toolbar>
  <ion-list class="pass-list" lines="none">
    <ion-item>
      <ion-label>Enter your password below to complete the transaction.</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
      <ion-input type="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button routerLink="/reviewtransaction" size="medium" class="sb-btn">
        Submit
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
