ion-toolbar{
    --background:rgb(0, 15, 99);
    // height: 50px;
}
ion-content{
    --background: rgb(0, 15, 99);
}
ion-title{
    color: white;
    font-weight: 400;
}
.pass-list{
    background: transparent;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.pass-list ion-item{
    --background: transparent;
    margin-block: 10px;
}
.pass-list ion-item:first-child{
    color: white;
    width: 300px;
    text-align: center;
}
.pass-list ion-item:nth-child(2){
    background: white;
    border-radius: 25px;
}
.sb-btn{
    --background:skyblue;
    --background-activated:skyblue;
    --border-radius: 25px;
    width: 150px;

}
ion-input{
    --padding-start: 10px;
}