<ion-content>
  <ion-card class="footer-card">
    <ion-card class="main-card" >
      <ion-card class="first-card">
        <ion-img class="naukri-logo" src="../../../assets/NaukriDotComLogo.svg"></ion-img>
        <ion-label class="first-card-heading">Connect with us</ion-label>
        <ion-card class="connnet-img-card">
          <ion-img class="connnet-img" src="../../../assets/facebook.svg"></ion-img>
          <ion-img class="connnet-img" src="../../../assets/insta.svg"></ion-img>
          <ion-img class="connnet-img" src="../../../assets/twitter.svg"></ion-img>
          <ion-img class="connnet-img" src="../../../assets/linkden.svg"></ion-img>
        </ion-card>
      </ion-card>
      <ion-card class="sec-card">
        <ion-list lines="none">
          <ion-item class="footer-items">About us</ion-item>
          <ion-item class="footer-items">Careers</ion-item>
          <ion-item class="footer-items">Employer Home</ion-item>
          <ion-item class="footer-items">Sitemap</ion-item>
          <ion-item class="footer-items">Credits</ion-item>
        </ion-list>
      </ion-card>
      <ion-card class="third-card">
        <ion-list lines="none">
          <ion-item class="footer-items">Help Center</ion-item>
          <ion-item class="footer-items">Summons/Notices</ion-item>
          <ion-item class="footer-items">Grievances</ion-item>
          <ion-item class="footer-items">Report issue</ion-item>
        </ion-list>
      </ion-card>
      <ion-card class="fourth-card">
        <ion-list lines="none">
          <ion-item class="footer-items">Privacy Policy</ion-item>
          <ion-item class="footer-items">Terms & Conditions</ion-item>
          <ion-item class="footer-items">Fraud alert</ion-item>
          <ion-item class="footer-items">Trust & safety</ion-item>
        </ion-list>      </ion-card>
      <ion-card class="fifth-card">
        <ion-card class="card-in-fifth" >
          <ion-label class="apply-heading">Apply on the go </ion-label> <br>
          <ion-text class="job-updates">Get real-time job updates on our App</ion-text>
          <ion-card class="store-card">
            <ion-img class="store-btn" src="../../../assets/Inter-sec/googlePlay Store.png"></ion-img>
            <ion-img class="store-btn" src="../../../assets/Inter-sec/appstore.png"></ion-img>
          </ion-card>
          <ion-img></ion-img>
        </ion-card>
      </ion-card>
    </ion-card>
  </ion-card>
  <ion-card class="info-main-card">
    <ion-card class="info-card">
        <ion-card class="info-card-left">
          <ion-card class="info-left-1">
            <ion-img class="info-img" src="../../../assets/infoedge.svg"></ion-img>
          </ion-card>
          <ion-card class="info-left-2">
            <ion-text>All trademarks are the property of their respective owners</ion-text> <br>
            <ion-text>All rights reserved © 2024 Info Edge (India) Ltd.</ion-text>
          </ion-card>
          <ion-card class="info-left-2"></ion-card>
        </ion-card>
        <ion-card class="info-card-right">
          <ion-card class="info-right-1">
            <ion-text class="info-text">Our businesses</ion-text>
          </ion-card>
          <ion-card class="info-right-2">
            <swiper-container autoplay="true">
              <swiper-slide class="flex-slider"> 
                <ion-img class="sliding-img" src="../../../assets/99acres.png"></ion-img>
                <ion-img class="sliding-img" src="../../../assets/jeevansathi.png"></ion-img>
                <ion-img class="sliding-img" src="../../../assets/naukrigolf.png"></ion-img>
              </swiper-slide>
              <swiper-slide class="flex-slider">
                <ion-img class="sliding-img" src="../../../assets/shiksha.png"></ion-img>
                <ion-img class="sliding-img" src="../../../assets/iimjobs.png"></ion-img>
                <ion-img class="sliding-img" src="../../../assets/hirist.png"></ion-img>
              </swiper-slide>
              <swiper-slide class="flex-slider">
                <ion-img class="sliding-img" src="../../../assets/jobHai.png"></ion-img>
                <ion-img class="sliding-img" src="../../../assets/mini.png"></ion-img>
                <ion-img class="sliding-img" src="../../../assets/codingninjas.png"></ion-img>
              </swiper-slide>
            </swiper-container>
          </ion-card>
        </ion-card>  
    </ion-card>
</ion-card>
</ion-content>