<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-label class="text-orange" >Groups</ion-label>
    <ion-title>Manage Customers</ion-title>
    <ion-icon class="text-orange"  slot="end" size="large" name="add-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar placeHolder="Search Customers"></ion-searchbar>
  <ion-list>
    <ion-item>Carlos,Ward</ion-item>
    <ion-item>Martha,Long</ion-item>
    <ion-item>Rachel, Williamson</ion-item>
    <ion-item>Johny, Kelly</ion-item>
    <ion-item>Earl, Turner</ion-item>
    <ion-item class="blank"></ion-item>
 
    <ion-item>Bill, Tranton</ion-item>
    <ion-item>Joe, Santos</ion-item>
    <ion-item>Catherine, Ferguson</ion-item>
    <ion-item class="blank"></ion-item>
  <ion-item>
    Odessa, Clarke
  </ion-item>
 </ion-list>
</ion-content>
