<ion-footer>
  <ion-card class="container">
    <ion-card class="first-card">
      <ion-list lines="none">
        <ion-item>
          ABOUT CARDEKHO
        </ion-item>
        <ion-item>
          About
        </ion-item>
        <ion-item>
          Careers With Us 
        </ion-item>
        <ion-item>
          Terms & Conditions
        </ion-item>
        <ion-item>
          Privacy Policy
        </ion-item>
        <ion-item>
          Corporate Policies
        </ion-item>
        <ion-item>
          Investors
        </ion-item>
        <ion-item>
          FAQs
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card class="second-card">
      <ion-list lines="none">
        <ion-item>CONNECT WITH US</ion-item>
        <ion-item>Feedback</ion-item>
        <ion-item>Contact Us</ion-item>
        <ion-item>Advertisement with Us</ion-item>
      </ion-list>
    </ion-card>
    <ion-card class="third-card">
      <ion-list lines="none">
        <ion-item>
          OTHERS
        </ion-item>
        <ion-item>
          Health Insurance
        </ion-item>
        <ion-item>
          Term Insurance
        </ion-item>
        <ion-item>
          Life Insurance
        </ion-item>
        <ion-item>
          Crack ED
        </ion-item>
        <ion-item>
          Personal loan 
        </ion-item>
        <ion-item>
          TyreDekho
        </ion-item>
        <ion-item>
          BatteryDekho
        </ion-item>
        <ion-item>
          Girnar Vision Fund
        </ion-item>
        <ion-item>
          Emergency Response
        </ion-item>
        <ion-item>
          Car Sales Trends
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card class="fourth-card">
      <ion-list lines="none"> 
        <ion-item>EXPERIENCE CARDEKHO APP</ion-item>
        <ion-item class="first-item-flex">
          <ion-img class="appstore" src="../../../assets/appstore.png"></ion-img>
          <ion-img class="playstore" src="../../../assets/playstore.png"></ion-img>
        </ion-item>
        <ion-item> CARDEKHO GROUP VENTURES</ion-item>
        <ion-item>
          <ion-img class=" imgClass" src="../../../assets/bikedekho.svg"></ion-img>
          <ion-img slot="end" class="imgClass " src="../../../assets/footer-rupyyLogo.svg"></ion-img>
        </ion-item>
        <ion-item>
          <ion-img class="imgClass" src="../../../assets/zigWheels.svg"></ion-img>
          <ion-img slot="end" class="imgClass" src="../../../assets/InsuranceDekho.svg"></ion-img>
        </ion-item>
        <ion-item>
          <ion-img class="imgClass" src="../../../assets/Revv.svg"></ion-img>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-card>
</ion-footer>
  
