<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
 <ion-range [value]="20" class="range"></ion-range>
 <ion-text class="skip-text">Skip</ion-text>
 <ion-card class="main-card">
    <ion-label class="heading">Is your cycle regular?</ion-label>
    <ion-button routerLink="/onboarding2" fill="outline">My cycle is regular</ion-button>
    <ion-button routerLink="/onboarding2" fill="outline">My cycle is irregular</ion-button>
    <ion-button routerLink="/onboarding2" fill="outline">I am not sure</ion-button>
 </ion-card>
</ion-content>
