<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="actionSheet" href="/tabs/actionSheet">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Action Sheet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="app-launcher" href="/tabs/applauncher">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>App Lancher</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
