<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      amit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="title">Home Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a  rel="noopener noreferrer"
       routerLink="/tabs/home">UI Components</a></p>
  </div>
  <div id="user"> Welcome <br> {{" "+email}} </div>
</ion-content>