<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-img class="logo_image"  src="../../assets/Old Logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="main-card">
    <ion-img class="main-image" src="../../assets/loginImage.png"></ion-img>
  </ion-card>
  <ion-label class="heading">Explore new ways to travel with Ola</ion-label>
  <ion-button routerLink="/mobileno" class="btn" color="dark">Continue with Phone Number</ion-button>

</ion-content>
