<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="loginUser(loginForm.value)" [formGroup]="loginForm">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-input type="email" formControlName="email" placeholder="Email" label="Email"></ion-input>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-input type="password" formControlName="password" placeholder="Password" label="Password"></ion-input>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row *ngIf="isForgetVisible">
        <ion-col size="12" class="ion-text-center blue-text">
          <ion-label routerLink="/forget-password">Forget Password ? </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10" class="ion-text-center">
          <ion-label>New User ! </ion-label>
          <ion-label class="blue-text" routerLink="/signup">Sign Up Now</ion-label>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!loginForm.valid" type="submit">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-alert [isOpen]="isAlertOpen" header="New User" subHeader="Please Signup First"
      message="Sign up first" [buttons]="actionbtn"></ion-alert>
      <ion-alert [isOpen]="isForgetPassword" header="Forget Pasword" subHeader="Invalid Password"
      message="Forget password" [buttons]="forgetBtn"></ion-alert>
  </form>
</ion-content>