<ion-header class="ion-no-border" [translucent]="true">
  
</ion-header>

<ion-content scroll-y="false" class="content no-scroll" [fullscreen]="true">
  <ion-toolbar>   
    <ion-icon routerLink="/tabs/home" class="ion-padding" size="large" color="light" name="arrow-back-outline"></ion-icon> 
    <ion-title>
      Connected Users
    </ion-title>
    <ion-icon class="ion-padding"  slot="end" color="light" size="large" name="notifications-outline"></ion-icon>
  </ion-toolbar>
  <ion-card class="main-card">
   <ion-label class="heading">Connected Users</ion-label>
   <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>J. Brown</ion-label>
      
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>Suzy Que</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>Wanda Everly</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>williams</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>Amy Lee</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>John Wilison</ion-label>
    </ion-item>
   </ion-list>
    
  </ion-card>

</ion-content>