<app-common></app-common>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="navrow">
      <ion-col size="0.5"></ion-col>
      <ion-col class="event-nav" size="11">
        <ion-label class="ev-text">
          <ion-icon routerLink="/home" class="ion-padding" size="large" name="arrow-back"></ion-icon>
          <ion-label>New Participants</ion-label>
        </ion-label>
      </ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>
    <ion-row class="seg-row">
      <ion-col size="12">
        <ion-segment value="addMember" [(ngModel)]="segmentValue">
          <ion-segment-button (click)="segValue($event)" value="addMember">Add Member</ion-segment-button>
          <ion-segment-button (click)="segValue($event)" value="scroring">Scroring</ion-segment-button>
          <ion-segment-button (click)="segValue($event)" value="participant">Participants</ion-segment-button>
          <ion-segment-button (click)="segValue($event)" value="viewstaff">View Staff</ion-segment-button>
          <ion-segment-button (click)="segValue($event)" value="scroringData">Scroring Data </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="segmentValue==='addMember'">
    <ion-row>
      <ion-col size="5">
        <ion-breadcrumbs>
          <ion-breadcrumb routerLink="/ourevent">Our Staff</ion-breadcrumb>
          <ion-breadcrumb>Add Staff Member</ion-breadcrumb>
        </ion-breadcrumbs>
      </ion-col>
    </ion-row>
    <form class="addMember" (ngSubmit)="addMembers(addMemberForm.value)" [formGroup]="addMemberForm">
      <ion-row class="form-row ion-padding">
        <ion-col size="1"></ion-col>
        <ion-col size="5">
          <ion-label>First Name</ion-label>
          <ion-input type="text" formControlName="fname" placeholder="Enter First Name"></ion-input>
        </ion-col>
        <ion-col size="5">
          <ion-label>Last Name</ion-label>
          <ion-input type="text" formControlName="lname" placeholder="Enter Last Name"></ion-input>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      
      <ion-row class="form-row ion-padding">
        <ion-col size="1"></ion-col>
        <ion-col size="5">
          <ion-label>Role</ion-label>
          <ion-input type="text" formControlName="role" placeholder="Enter Role"></ion-input>
        </ion-col>
        <ion-col size="5">
          <ion-label>Phone Number</ion-label>
          <ion-input type="number" formControlName="mobileno" placeholder="Enter Phone Number"></ion-input>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-row class="form-row ion-padding">
        <ion-col size="1"></ion-col>
        <ion-col size="5">
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="email" placeholder="Enter Email"></ion-input>
        </ion-col>
        <ion-col size="5">
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password" placeholder="Enter Password"></ion-input>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col id="btn-col" size="4">
          <ion-button [disabled]="!addMemberForm.valid" type="submit">Save</ion-button>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid *ngIf="segmentValue==='scroring'">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <form (ngSubmit)="saveScenario(scroringForm.value)" class="scroringForm" [formGroup]="scroringForm">
          <ion-list lines="none">
            <ion-item>
              <ion-input type="text" label="Scenario Name" formControlName="scenarioName"
                placeHolder="Scenario Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" label="Note" formControlName="note" placeHolder="Note"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [readonly]="isReadOnly" type="email" label="Email" formControlName="email"
                placeHolder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input (ionInput)="validateNumber($event)" type="number" maxLength="10" label="Mobile Number"
                formControlName="mobileno" placeHolder="Mobile Number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-text color="primary" *ngIf="!isValidNumber">*Please Enter Only Ten Digit Mobile Number*</ion-text>
              <ion-text color="success" *ngIf="isValidNumber">Valid</ion-text>
            </ion-item>
            <ion-item>
              <ion-button [disabled]="!scroringForm.valid" type="submit" id="scroringFormBtn"
                size="medium">Submit</ion-button>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="segmentValue==='participant'">
    <ion-row>
      <ion-col size="3">
        <ion-breadcrumbs>
          <ion-breadcrumb routerLink="/ourevent">Event Name</ion-breadcrumb>
          <ion-breadcrumb routerLink="/participants">New Participants</ion-breadcrumb>
        </ion-breadcrumbs>
      </ion-col>
      <ion-col size="9"></ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="3">
        <ion-label class="info-heading">Participant Info</ion-label>
      </ion-col>
      <ion-col size="9"></ion-col>
    </ion-row>
    <form (ngSubmit)="parti(participantform.value)" [formGroup]="participantform">
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label class="input-heading">Participant Name</ion-label>
          <ion-input formControlName="participantName" placeholder="Enter Participant Name"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Title</ion-label>
          <ion-input formControlName="title" placeholder="Enter Title"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Email</ion-label>
          <ion-input formControlName="email" placeholder="Enter Email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label class="input-heading">Phone</ion-label>
          <ion-input formControlName="mobileno" placeholder="Enter Phone"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Org Type</ion-label>
          <ion-input formControlName="orgType" placeholder="Enter Org Type"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Org Sub-Type</ion-label>
          <ion-input formControlName="orgSubType" placeholder="Enter Org Sub-Type"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label class="input-heading">Org Size</ion-label>
          <ion-input formControlName="orgSize" placeholder="Enter Org Size"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Pro Domain</ion-label>
          <ion-input formControlName="proDomain" placeholder="Enter Title"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Country</ion-label>
          <ion-input formControlName="country" placeholder="Enter Country"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label class="input-heading">City</ion-label>
          <ion-input formControlName="city" placeholder="Enter City"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">CitizenShip</ion-label>
          <ion-input formControlName="citizenShip" placeholder="Enter CitizenShip"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Date of Birth</ion-label>
          <ion-input formControlName="dob" placeholder="Enter Date of Birth"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label class="input-heading">ID Type</ion-label>
          <ion-input formControlName="IdType" placeholder="Enter ID Type"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Gender</ion-label>
          <ion-input formControlName="gender" placeholder="Enter Gender"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Primary Language</ion-label>
          <ion-input formControlName="primaryLanguage" placeholder="Enter Primary Language"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label class="input-heading">English Language</ion-label>
          <ion-input formControlName="engLanguage" placeholder="Enter Language"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Dietary Restrictions</ion-label>
          <ion-input formControlName="dietRestrictions" placeholder="Enter Dietary Restrictions"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Health Issues</ion-label>
          <ion-input formControlName="healthIssues" placeholder="Enter Health Issues"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-label class="input-heading">Special Needs</ion-label>
          <ion-input formControlName="specialneeds" placeholder="Enter Special Needs"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Emergency Contact Name</ion-label>
          <ion-input formControlName="emContact1" placeholder="Enter Emergency Contact Name"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="input-heading">Emergency Contact #</ion-label>
          <ion-input formControlName="emContact2" placeholder="Enter Emergency Contact#"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-label class="input-heading">Other</ion-label>
          <ion-input formControlName="other" placeholder="Type Here">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="4">
          <ion-button [disabled]="!participantform.valid" type="submit" id="formSubmitBtn">Submit</ion-button>
        </ion-col>
        <ion-col size="8"></ion-col>
      </ion-row>

    </form>
  </ion-grid>

  <ion-grid *ngIf="segmentValue==='viewstaff'">
    <ion-row>
      <ion-col size="6">
        
      </ion-col>
      <ion-col size="6">
        <ion-searchbar (ionInput)="searchedStaff($event)" placeholer="Search for Staff"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-grid class="staff-grid ion-padding">
          <ion-row class="ion-text-center staff-grid-header">
            <ion-col size="3">Name</ion-col>
            <ion-col size="3">Email</ion-col>
            <ion-col size="3">Role</ion-col>
          </ion-row>
          <ion-row *ngIf="staffDataArray===null">
            <ion-col>
              <ion-label>No Data Found</ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let val of staffDataArray" class="staff-row-data ion-text-center">
            <ion-col size="3">
              <ion-label>
                {{val.fname}}&nbsp;{{val.lname}}
              </ion-label>
            </ion-col>
            <ion-col size="3">
              {{val.email}}
            </ion-col>
            <ion-col size="3">
              <ion-label>{{val.role}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="segmentValue==='scroringData'">
    <ion-row>
      <ion-col size="6">
        <ion-breadcrumbs>
          <ion-breadcrumb routerLink="/">Home</ion-breadcrumb>
          <ion-breadcrumb>Scroring Data</ion-breadcrumb>
        </ion-breadcrumbs>
      </ion-col>
      <ion-col size="6">
        <ion-searchbar (ionInput)="searchedData($event)" placeholder="Search Scenario"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="tbl-header">
      <ion-col size="1"></ion-col>
      <ion-col size="2">Scenario Name</ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2">Email</ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1">
        Edit
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2">Note</ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-grid class="repeted-row-grid">
          <ion-row class="repeted-row" *ngFor="let val of displayScenarioData;let i=index">
            <ion-col size="1"></ion-col>
            <ion-col size="2">
              <ion-label>{{val.scenarioName}}</ion-label>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="2">
              <ion-label>{{val.email}}</ion-label>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="1">
              <ion-icon (click)="editValue(i,val)" name="pencil"></ion-icon>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="2">
              <ion-label>{{val.note}}</ion-label>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>