<ion-card class="ats-main-card">
  <ion-img class="ats-img" src="../../../assets/ATS.png"></ion-img>
  <ion-card class="ats-card" >
    <ion-label class="ats-heading">What Is Applicant Tracking Systems (ATS)? - Explained</ion-label> <br>
    <ion-text class="ats-text">The job search landscape has undergone a significant transformation in recent years. Gone are the days of simply...</ion-text>
    <ion-card class="btn-card">
      <ion-button fill="clear" class="ats-btn">Read More </ion-button>
    </ion-card>
  </ion-card>
</ion-card>