<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="../../assets/bags.png"></ion-img> 
    <ion-label>
      Success
    </ion-label>
    <ion-text>
      Your order will be delivered soon. <br>
      Thank you for choosing our app!
    </ion-text>
  </ion-card>
  <ion-card class="btn-card">
    <ion-button routerLink="/tabs/categories">
      Continue Shopping
    </ion-button>
  </ion-card>
</ion-content>
