ion-img{
    width: 150px;
    display: flex;
    margin: auto;
}
ion-card{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: none;

}
ion-card ion-label{
    color: black;
    font-size: 27px;
    font-weight: 600;
}
ion-button{
    --background: #DB3022;
    --background-activated:#DB3022;
    display: flex;
    width: 90%;
    margin: 0 auto;
    --border-radius: 25px;
}
.btn-card{
    padding: 20px;
}