<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/" color="dark"></ion-back-button>
  </ion-toolbar>
  <ion-title>Forget Password</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-alert
  [isOpen]="invalidEmail"
  header="Invalid Email Id "
  message="Please Enter Correct Email id "
  [buttons]="button"
  ></ion-alert>

  <ion-alert
  [isOpen]="isInvalidOtp"
  header="Invalid OTP"
  message="OTP is Not Matched"
  [buttons]="otpButton"
  ></ion-alert>

  <ion-alert
  [isOpen]="isRoutePop"
  header="Success"
  message="Passwowrd Changed Successfully"
  [buttons]="routeButton"
  ></ion-alert>

  <form [formGroup]="forgetForm" (ngSubmit)="onSubmit(forgetForm.value)">
    <ion-list lines="none">
      <ion-item class="login-item">
        <ion-label>
          Please, enter your email address. You will receive a link to create a new password via email.
        </ion-label>
      </ion-item>
      <ion-item> 
        <ion-input [readonly]="isReadOnly" formControlName="email" [clearInput]="true" label="Email" labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!isformVisible" class="login-item">
         <ion-button [disabled]="!forgetForm.valid" (click)="generateOtp(forgetForm.value)">Send</ion-button>
      </ion-item>

      <ion-item *ngIf="isformVisible && !isSetPassword">
        <ion-input formControlName="otp" [clearInput]="true" label="OTP" labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item  *ngIf="isformVisible && !isSetPassword" class="login-item">
         <ion-button [disabled]="!forgetForm.valid" (click)="validateOtp(forgetForm.value)">Validate OTP</ion-button>
      </ion-item>

      <ion-item *ngIf="isSetPassword">
        <ion-input formControlName="password" [clearInput]="true" label="Password" labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item  *ngIf="isSetPassword" class="login-item">
         <ion-button [disabled]="!forgetForm.valid" type="submit">Change Password</ion-button>
      </ion-item>
    </ion-list>
  </form>
 
  <ion-card id="main-card">
    <ion-label>
      Or Sign up with social account
    </ion-label>
    <ion-card>
      <ion-img src="../../assets/Google.png">
      </ion-img>
      <ion-img src="../../assets/Facebook.png">
      </ion-img>
    </ion-card>
  </ion-card>
 
</ion-content>
