ion-title{
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    background: lightgray;
}
ion-toolbar,
ion-content{
    --background: lightgray;
}
ion-item{
    margin-block: 10px;
    border-radius: 5px;
}
ion-list{
    width: 90%;
    background: transparent;
    margin: 0 auto;
}
.login-item{
    --background: transparent;
    font-size: 12px;
}
ion-icon[name="arrow-forward-outline"]{
    color: #DB3022;
}
ion-button{
    --background: #DB3022;
    --background-activated:#DB3022;
    height: 48px;
    width: 343px;
    font-size: 14px;
    line-height: 20px;
    font-family: Metropolis;
    --border-radius: 25px;
}
#main-card{
    position: absolute;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    background: transparent;
    box-shadow: none;
    color: #222222;
    bottom: 40px;
    left: 60px;
}
#main-card ion-img{
    width: 92px;
    height: 64px;
}
#main-card ion-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    background: transparent;

}